<header>
<h1>Ometman Budget App</h1>
<p>Welcome!! Login or Register to use</p>
</header>
<main class="home">
    <div class="home-action-btns">
        <%= link_to 'Sign Up', new_user_registration_path, class: 'home-signup-btn' %> 
        <%= link_to 'Login', new_user_session_path, class: 'home-login-btn' %>
    </div>
</main>
<footer>
 The footer
</footer>