<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<!-- app/views/home/index.html.erb -->

<h1>Ometman Budget App</h1>
<p>Welcome</p>
<p>Login or Register here to use</p>

<% if user_signed_in? %>
  <p>Hello, <%= current_user.name %>!</p>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path %> |
  <%= link_to 'Login', new_user_session_path %>
<% end %>
