header.auth {
  height: 20vh;
  padding-top: 50px;
}

.login-heading {
  padding-top: 4%;
}

main {
  height: 80vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #434b54;
  background-color: #f3f3f3;
  padding-top: 4%;
}

/* Form Container */
.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 768px;
  width: 100%;
  padding: 0 10px;
  background-color: #fff;
  color: #f3f3f3;
  text-decoration: none;
  margin-bottom: 20px;
}

/* Form Fields */
.login-label,
.signup-label {
  display: none;
}

/* Links Section */
div.actions-links {
  text-align: left;
}

.login-container a:hover,
.signup-container a:hover {
  /* text-decoration: underline; */
}

/* log in and logout buttons */
.login-input
.signup-input {
  width: 100%;
  padding: 16px;;
  border: none;
  font-size: 16px;
  color: #f3f3f3;
}

.login-input:focus,
.signup-input:focus {
  outline: none;
}

.name,
.email,
.password {
  border-top: 3px solid #f3f3f3;
  width: 100%;
  padding: 16px;
  border-left: none;
  border-right: none;
}

.name {
  border-bottom: 3px solid #f3f3f3;
}

.email {
  border-bottom: 3px solid #f3f3f3;
}

.password {
  border-bottom: 3px solid #f3f3f3;
}

.login-btn-text,
.signup-btn-text {
  border: none;
  color: #fff;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.save-action-btn {
  background-color: #93abc7;
  border: none;
  color: white;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.login-button:hover,
.logout-button:hover {
  background-color: #3778c2;
}
