<header class="categories">
<div class="menu-title-search">
  <i class="fas fa-bars"></i>
  <div class="header-title">
    <h1>Transactions</h1>
  </div>
  <i class="fas fa-search"></i>
</div>
<div class="header-cat-links">
  <%= link_to 'Most recent', user_categories_path(current_user, recent: true) %> | 
  <%= link_to 'Most oldest', user_categories_path(current_user, oldest: true) %>
</div>
</header>